body{
	font-family: Arial, Helvetica, sans-serif;
}

#fish li:nth-child(odd){
	color: red;
}

#fish li:nth-child(even){
	color: blue;
}

body{
	transition-duration: 0.25s;
}

body * {
	cursor: pointer;
/*	border: solid black 1px;
	border-radius: 1px;
	margin:0.25em;*/
}

p, li, ul{
	border: solid black 1px;
	padding: 0.25em;
	margin: 1em;
	float: left;
}

div:not(.fish):not(.fishtail):not(.fishbody){
	border: solid black 1px;
	padding: 0.25em;
	margin: 1em;
	float: left;
}

.fishtail {
	width: 0; 
	height: 0; 
	border-top: 2em solid transparent;
	border-bottom: 2em solid transparent; 
	
	border-right: 2em solid #1abc9c;
	float:left;
	margin-right: 1em;

}

.fishbody {
	width:6em;
	height:4em;
	background-color: #1abc9c;
	float:left;
	border-radius: 2em;
	margin-left: 1em;

}


.fish{
	width: 12em;
	height: 6em;
	float:left;
	border: solid black 1px;
	padding-top: 1em;
}


li{
	clear:both;	
}

ul{
	margin-bottom: 5em;
}

#things{
	clear:both;
}