body{
	font-family: Arial, Helvetica, sans-serif;	
}

textarea, input {
	outline: none;
	border: none;
	border: solid 1px #ccc;
	padding: 2px 1px;
	border-radius: .25em;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}